.bg-primary-color {
    background-color: #fff;
  }
  
  .bg-secondary-color {
    background-color: #ece8e2;
  }
  
  .bg-dark-color {
    background-color: #050505;
  }
  
  .primary-color {
    color: #050505;
  }
  
  .secondary-color {
    color: #7a7a7a;
  }
  
  /* NAVBAR */
  #navbar {
    border-bottom: 1px solid #7a7a7a;
  }
  
  #navbar a {
    color: #050505;
  }
  
  #navbar a:hover {
    color: #7a7a7a;
  }
  
  #navbar .active {
    border-bottom: 1px solid #050505;
  }
  
  .navbar-brand {
    display: flex;
  }
  
  .navbar-brand img {
    width: 45px;
  }
  
  .navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
  }
  
  #navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #navbar-items .nav-item {
    margin: 0 1em;
  }

  /*MAIN*/
  .wrapper{
    min-height: 100vh;
  }

  /*TOPO FOOTER*/
  #footer{
    padding: 3em 2em;
  }

  #footer-top{
    margin-bottom: 2em;
  }

  #footer-top,
  #footer-top i{
    color:white;
  }

  #social-icons{
    text-align: right;
  }

  #social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
  }

  #social-icons i:hover{
    color: #7a7a7a;
  }

  /*FOOTER DETALHES*/
  #footer-details{
    margin-bottom: 3em;
  }

  #news-container,
  #contact-container,
  #links-container{
    padding: 0;
    border:0;
    margin-bottom: 2em;
  }

  #footer-details h4{
    color: white;
    margin-bottom: 1.5em;
  }

  #news-container input{
    border:none;
  }

  #links-container li{
    margin-bottom: 0.5em;
  }

  #links-container a{
    text-decoration: none;
  }

  #links-container a:hover{
    color: white;
  }

  /*FOOTER PARTE DE BAIXO*/

  #footer-bottom{
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
  }

  @media(min-width:768px){
    #news-container{
      padding-right: 2em;

    }
    #links-container{
      padding-left: 2em;

    }

    #contact-container{
      padding: 0 2em;
    }

  }
  /*MAIN CARDS
  .maincontent{
    padding-top: 0%;
    padding-left:0%;
  }
  
  .red {
    border-color: red ;
    padding: 1%;
    border-style: solid;
    border-width: medium;
  }
  .green {
    border-color: green ;
    padding: 1%;
    border-style: solid;
    border-width: medium;
  }
  .col {
    border-color: red ;
    padding: 1%;
    border-style: solid;
    border-width: medium;
  }
  .col-lg{
      height: 200px;
      overflow: hidden;
      margin: 10px 0;
      position: relative;
      flex-basis: 30%;
  }
  
    
  .col-lg img{
    display:block;
      position: absolute;
      left: -1000%;
      right: -1000%;
      top: -1000%;
      bottom: -1000%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
  }
  .imgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }*/